<p-toast></p-toast>
<p-card header="Registro de Usuario" class="registro-card">
  <div class="p-fluid">
  
    <div class="field">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" pInputText [(ngModel)]="nombre" name="nombre" (input)="convertirAMayusculas()" required />
      <div *ngIf="nombre && nombre.length < 3" class="error-message">El nombre debe tener al menos 3 caracteres.</div>
  </div>

  <div class="field">
      <label for="correo">Correo Electrónico</label>
      <input id="correo" type="email" pInputText [(ngModel)]="correo_electronico" name="correo" required email />
      <div *ngIf="correo_electronico && !validarCorreo(correo_electronico)" class="error-message">
        Correo electrónico inválido.
      </div>  
  </div>

  <div class="field">
    <label for="telefono">Teléfono</label>
    <input id="telefono" type="text" pInputText [(ngModel)]="telefono" name="telefono" required
      maxlength="10" pattern="[0-9]*" (input)="validarTelefono($event)" (keypress)="permitirSoloNumeros($event)"/>
    <div *ngIf="telefono && telefono.length !== 10" class="error-message">
      El teléfono debe tener 10 números.
    </div>
  </div>

  <div class="field">
    <label for="direccion">Dirección</label>
    <input id="direccion" type="text" pInputText [(ngModel)]="direccion" name="direccion" required />
  </div>

  <div class="field">
    <label for="password">Contraseña</label>
    <input id="password" type="password" pPassword [(ngModel)]="password" name="password" required feedback="false" toggleMask="true" />
  
    <div *ngIf="password && !validarPassword(password)" class="error-message">
      La contraseña debe contener al menos una mayúscula, una minúscula y un número.
    </div>
  </div>

  <div class="field">
    <label for="repetirPassword">Repetir Contraseña</label>
    <input id="repetirPassword" type="password" pPassword [(ngModel)]="repetirPassword" name="repetirPassword" required feedback="false" toggleMask="true" />
  
    <div *ngIf="repetirPassword && repetirPassword !== password" class="error-message">
      Las contraseñas no coinciden.
    </div>
  </div>

  <div class="button-container" style="margin-top: 2rem;">
      <button pButton type="button" label="Registrarse" icon="pi pi-user-plus" (click)="registrarUsuario()" class="guardar-button"></button>
  </div>
  </div>
</p-card>
