.registro-card {
  max-width: 400px;
  margin: 3rem auto;
  padding: 1.5rem;
}

.field {
  margin-bottom: 1.5rem;
}

.guardar-button {
  width: 100%;
}

.container {
  max-width: 400px;  /* ancho máximo, puedes ajustar */
  margin: 0 auto;    /* centra horizontalmente */
  padding: 0 1rem;   /* pequeño padding para que no toque los bordes en pantallas pequeñas */
}
