  :host ::ng-deep .p-table {
    background-color: #0f1e38;
    color: #f0f0f0;
    border: none;
    font-size: 1rem;
  }
  
  :host ::ng-deep .p-table thead th {
    background-color: #12263a;
    color: #ffffff;
    border: none;
    font-weight: 600;
  }
  
  :host ::ng-deep .p-table tbody tr {
    background-color: #0f1e38;
    border-bottom: 1px solid #1f2d45;
  }
  
  :host ::ng-deep .p-table tbody tr:hover {
    background-color: #1e3a8a;
  }
  
  :host ::ng-deep .p-table td {
    color: #e5e5e5;
    border: none;
  }
  
  :host ::ng-deep .p-button {
    color: #e5e5e5;
  }
  
  :host ::ng-deep .p-button.p-button-text:hover {
    background-color: #265acc;
    color: white;
  }
  
  :host ::ng-deep .p-paginator {
    background-color: #0a192f;
    color: #ffffff;
    border-top: 1px solid #1f2d45;
  }
  
  :host ::ng-deep .p-paginator .p-paginator-page.p-highlight {
    background-color: #265acc;
    color: white;
  }

  :host ::ng-deep .p-button .pi {
    color: #265acc;
  }
  
  :host ::ng-deep .p-button:hover .pi {
    color: #ffffff;
  }
  
  