.custom-select {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
  

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  
    &:hover {
      border-color: #0056b3;
    }
  
    padding-left: 10px;
  }
  
  .custom-select option {
    font-size: 1rem;
    padding: 10px;
    background-color: #fff;
    color: #333;
  }
  
  .custom-select option:checked {
    background-color: #007bff;
    color: white;
  }
  
  .field {
    margin-bottom: 16px;
  }
  
  h2 {
    margin-bottom: 24px;
  }
  
.label-spacing {
    margin-bottom: 1.0rem;
  }
  
  input,
textarea,
select {
  margin-top: 8px;
}
