<div class="dashboard-content">
  <h1>Bienvenido a tu sitio favorito!, {{ usuario?.nombre }}</h1>
  <p>Sistema de Gestion de productos</p>
</div>

<p-carousel [value]="productos" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
  <ng-template pTemplate="item" let-producto>
    <div class="producto-item">
      <img [src]="producto.imagen" [alt]="producto.nombre" class="imagen-producto" />
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
    </div>
  </ng-template>
</p-carousel>
