.dashboard-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #333;
    color: white;
    padding: 1rem;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
  }
  
  .sidebar-header {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 0.5rem 0;
  }
  
  .sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar-menu li a:hover {
    background-color: #555;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 2rem;
  }
  
  .user-info {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .dashboard-content {
    margin-top: 20px;
  }
  
  .dashboard-content {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .producto-item {
    text-align: center;
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .imagen-producto {
  width: 300px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

  