.guardar-button {
    background-color: #343a40; /* mismo color que el navbar */
    color: white;
    border: none;
  }
  
  .guardar-button:hover {
    background-color: #2c3136; /* color más oscuro al pasar el mouse */
  }

